    <html>
    <head>

    {% block stylesheets %}
        <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/chat.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/login.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/profile.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/register.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/social.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('functions.js') }}" type="text/javascript"></script>
    {% endblock %}

    </head>
    <body>
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div id="login">
    <div class="containerLog" >
        <a class="linkT" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&list=PLahKLy8pQdCM0SiXNn3EfGIXX19QGzUG3">
            <div class="image"></div>
        </a>

        <div class="companyNameLog"> DISCORDIA</div>

		<form onsubmit = "{{ path('login') }}">
		
            <div class="log">
                <label for="user"><b>Username or E-mail</b></label>
                <input id="user" type="text" placeholder="Enter Username or E-mail" name="user" value = "{{ last_username }}">

                <label for="password"><b>Password</b></label>
                <input id="password" type="password" placeholder="Enter Password" name="_password" required>

                <button class="btn" type="submit">Login</button>
                <button class="singIn" onclick="window.location.href='register.php';">Sing in</button>
				
            </div>

        </form>

    </div>
    </div>


  
    </body>
</html>