	   
   
         {%if room == false %} 
           <p class='error'>Not exist users yet</p>
         {% else %} 
            {%for ro in room %}	

         

                <div onclick="loadFriendProfile({{ro.cod_user}})" class="person" method = "POST">

        
                    <input name = "name_chat" type="hidden" value = {{ro.nick}}>
                    <input name = "avatar_chat" type="hidden" value = {{ro.photo}}>                        
                    <button type="submit" class="person2">
                        <img class="profPict" src="images/avatar/{{ro.photo}}"alt="image_user">
                        <div class="friendName">{{ro.nick}}</div>
                    </button>

                </div>

                 <button onclick="deleteUser({{ro.cod_user}})" method = "POST">Delete</button>
             
                  
            {% endfor %}

        {%endif%}
                    