 {% if room %}


{%for ro in room %}
	      

                {% if ro.typeOfRoom=='chat' %}
             
                       <div onclick="loadChat('{{ro.codRoom}}','{{ro.photo}}', '{{ro.nick}}')" class="person  {% if ro.view == 0 %}
                       notView
                       {%endif%}">

                    
                        <button class="person2">
                            <img class="profPict" src="images/avatar/{{ro.photo}}"alt="image_user">
                            <div class="friendName">{{ ro.nick}}</div>
                        </button>
    
                    </div>
                {%else%}
            
                       <div onclick="loadChat('{{ro.codRoom}}','{{ro.photo}}', '{{ro.codRoom}}')" class="person 
                       {% if ro.view == 0 %}
                       notView
                       {%endif%}">


                    
                        <button class="person2">
                            <img class="profPict" src="images/avatar/{{ro.img_room}}"alt="image_user">
                            <div class="friendName">{{ro.codRoom}}</div>
                        </button>
    
                    </div>
                {%endif%}
       
                
{% endfor %}


{% else %}
<p class='error'>You have no chats :(</p>
 {%endif%}



{# 
		


                #}