<html>
    <head>
    {% block stylesheets %}
        <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/chat.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/login.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/profile.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/register.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('css/social.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('functions.js') }}" type="text/javascript"></script>
    {% endblock %}

    </head>
    <body>
    </body>
</html>